@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@1,200&display=swap");
* {
  font-family: "spectral SC";
}
body {
  color: cornflowerblue;
}
table {
  width: 100%;
}
table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  color: red;
  font-size: 64px;
  text-align: center;
}
th {
  background-color: aliceblue;
  background-color: deepskyblue
}

h1{
    color: #333;
    font-size: 20px;
}
h2{
    color: #666;
    font-size: 16px;
}
p,li{
    color: #000;
    font-size: 12px;
}
