.inicio {
    width: 600px;
    height: 600px;
  }
  
  .a1 {
 
  }
  .a2 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 70px;
  margin-bottom: 6px;
  position: absolute;
  margin-top: 80px;
  }
  }
  .a3 {
  
  }
  
  .a4 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 70px;
  margin-bottom: 6px;
  position: absolute;
  margin-top: 80px;
  }
  
  .a5{
   
  .a6 {
 
  }
  .a7 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 70px;
  margin-bottom: 8px;
    position: absolut;
    margin-top: 190pt;
    margin-left:209px;
  
  }
  
  .a8 {
      background-color:rgb(250, 152, 237);
      width: 200px;
      height: 64px;
    margin-bottom: 6px;
  margin-left:210px;
  position: absolute;
  }