.inicio {
    width: 600px;
    height: 600px;
  }
  
  .a1 {
 background-image: url(https://images.unsplash.com/photo-1641924875397-5324016b96bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
 background-repeat:no-repeat;
 background-size:auto;
 height: 100px;  
width: 617px;
  }
  .a2 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 120px;
  margin-bottom: 6px;
  position: absolute;
  margin-top: 10px;
  }
  
  .a3 {
    background-image: url(https://static1.diariosur.es/www/multimedia/201909/30/media/cortadas/imagensensible-kYzD-U90285421336FWD-624x385@Diario%20Sur.jpg);
    background-repeat:no-repeat;
    background-size:auto;
    
margin-top: 125px;
height: 120px;  
width: 200px;
}
  
  .a4 {
    background-color:rgb(250, 215, 245) ;
    background-repeat:no-repeat;
    background-size:auto;
   
margin-top: 20px;
height: 120px;  
width: 200px;
  }
  
  .a5{
    background-color: rgb(241, 106, 221);
    width: 200px;
    height: 100px;
  margin-bottom: 6px;
  position: absolute;
  margin-top: 10px;
  }
  .a6 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 100px;
  margin-bottom: 6px;
  
  margin-top: 10px;
  margin-left:210px; 
}
  .a7 {
    background-color: rgb(250, 215, 245);
    width: 200px;
    height: 100px;
  margin-bottom: 6px;
  position: absolute;
  margin-top: -106px;
 margin-left: 420px;
  }
  
  .a8 {
      background-image: url(https://i.pinimg.com/originals/9a/d6/b7/9ad6b711b3deffa630889706099647ba.jpg);
      width: 410px;
      height: 380px;
    margin-bottom: 6px;
  margin-left:210px;
  position: absolute;
margin-top: -490px;  
}