.inicio {
  width: 600px;
  height: 600px;
}
.izquierda {
  width: 400px;
  float: left;
}
.derecha {
  width: 200px;
  float: right;
}
.a1 {
  background-color: rgb(250, 152, 237);
  width: 100%;
  height: 70px;
  
  float: left;
  margin-bottom: 6px;
}
.a2 {
  background-color: rgb(211, 152, 250);
  width: 48%;
  height: 120px;
margin-bottom:6px;
  float: left;

}
.a3 {
  background-color: rgb(250, 152, 237);
  width: 48%;
  height: 186px;
  float: right; 
margin-bottom: 6px ;
}


.a4 {
  background-color: rgb(250, 152, 237);
  width: 48%;
  height: 60px;
margin-bottom: 6px;
  float: left;
}
.a6 {
  background-color: rgb(255, 215, 245);
  width: 48%;
  height: 60px;
margin-bottom: 6px;
  float: right;
}
.a7 {
  background-color: rgb(255, 215, 245);
  width: 48%;
  height: 60px;
margin-bottom: 6px;
  float: right;
 
}
.a5 {
  background-color: rgb(211, 152, 250);
  width: 48%;
  height: 120px;
margin-bottom: 6px;
  float: left;
  
}
.a8 {
    background-color:rgb(255, 215, 245);

    width: 95%;
    height: 60px;
    float: right;
  margin-bottom: 6px;
  }
  .a9 {
    background-color:rgb(250, 152, 237);

    width: 95%;
    height: 60px;
    float: right;
  margin-bottom: 6px;
  }
.a10 {
    background-color: rgb(255, 215, 250);
    width: 95%;
    height: 60px;
    float: right;
   margin-bottom: 6px;
  }
.a11 {
  background-color: rgb(220, 173, 241);
  width: 95%;
  height: 120px;
margin-bottom: 6px;
  float: right;
  
}
.a12 {
  background-color: rgb(250, 152, 237);
  width: 95%;
  height: 60px;

  float: right;
margin-bottom: 8px;
}
